
#title{
    background-color: lightblue;
    font-family: monospace;
    width: 950px;
    height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    border-radius: 10px 10px 0px 0px;
}

.radius { 
    border:1px  solid black; 
    border-radius: 0px 0px 10px 10px; 
    width: 950px; height:450px;
    border:"1"
    border-top= 1px solid black;
    background-color: whitesmoke;
}

td { width: 150px; border:1px solid black; border-radius: 5px;}